extends ../layout/index

block contenido
    div.py-10
        h1.text-center.font-extrabold.my-10.text-4xl.text-light_blue Bienes 
            span.font-normal.text-pink Raíces
        h2.text-center.font-extrabold.text-2xl.text-black= page

    div(class="bg-white shadow py-8 px-4 rounded-lg max-w-md mx-auto")
        p(class=error ? 'bg-red' : 'bg-greenish').py-2.px-5.rounded-lg.w-full.font-bold.text-center.text-white.uppercase= msg

        if !error
            a(href="/auth/login" class="text-center font-bold text-lg text-white uppercase mt-10 block bg-light_blue py-4 px-8 rounded-lg") Ya Puedes Iniciar Sesión 
        else
            a(href="/auth/login" class="text-center font-bold text-lg text-white uppercase mt-10 block bg-pink py-4 px-8 rounded-lg") Volver al inicio
